*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 2rem;
}

#grid {
	margin: 1rem 0rem;
	display: flex;
	width: 600px;
	height: 600px;
	flex-wrap: wrap;
}

.square {
	width: 200px;
	height: 200px;
	border: 1px solid black;
}

.heading {
	margin-top: 1rem;
}

.mole {
	background-image: url("./mole.jpg");
	background-size: cover;
}
